.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1em !important;
    padding-right: 1em !important; }
  
.navbar .nav-item.active {
border-left: #444 3px solid; }
    
#page-header {
    height: 200px;
    background: url("../img/media.jpg");
    background-position: 0 -360px;
    background-attachment: fixed;
    color: #0000;
    border-bottom: 1px #eee solid;
    padding-top: 50px; }
#main-footer {
        background: #000;
        color: #fff; }

.circle {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: purple;
    text-align: center;
    line-height: 46px;
    color: white;
    border-radius: 50%;
    border: 2px solid cyan;
}
#verticle-line {
    width: 2px;
    height: 95%;
    background-color: grey;
    position: absolute;
    left: 32px;
}